<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>用户管理界面</title>
<link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
	<div id="md"></div>
	<table class="layui-hide" id="table_data" lay-filter="table_data"></table>
	<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe654;</i>添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="delete"><i class="layui-icon">&#xe640;</i>删除</button>
    <button class="layui-btn layui-btn-sm" lay-event="update"><i class="layui-icon">&#xe642;</i>编辑</button>
  </div>
</script>

	<script type="text/html" id="status_zh">
    {{#  if(d.status == 0){ }}
                <samp style="color:green;">正常</samp>
    {{#  } }}
    {{#  if(d.status == 1){ }}
                <samp style="color:red;">停用</samp>
    {{#  } }}

    {{#  if(d.status == 2){ }}
                <samp style="color:#666;">注销</samp>
    {{#  } }}
</script>

	<script src="/static/layui/layui.js"></script>
	<script>
		layui.use(['jquery', 'table'],function() {
			var table = layui.table;
			var $ = layui.jquery;
			//第一个实例
			table.render({
				elem : '#table_data',
				url : '/sys/user/select',
				toolbar : '#toolbarDemo',
				limit : 10,
				page : true,
				loading : true,
				totalRow : true,
				cols : [ [ //表头
				{
					field : 'userId',
					title : 'ID',
					sort : true,
					fixed : 'left',
					width : 50
				}, {
					field : 'userName',
					title : '用户名',
					sort : true
				}, {
					field : 'salt',
					title : '秘钥'
				}, {
					field : 'email',
					title : '邮箱'
				}, {
					field : 'mobile',
					title : '手机号'
				}, {
					field : 'status',
					title : '状态',
					width : 80,
					toolbar : '#status_zh'
				}, {
					field : 'deptId',
					title : '部门',
					width : 120,
					sort : true
				}, {
					field : 'createTime',
					title : '创建时间',
					sort : true
				} ] ],
				page : true,
				done : function(res, curr, count) {
					$("html, body").animate({scrollTop: $("#md").offset().top }, 1); 
				}
			});
		});
	</script>
</body>
</html>